

{% block content %}

            <section class="blog_area ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="row">

                        {% for obj in post_list %}
                        <div class="col-4">
                            <div class="single-post wow fadeInUp" data-wow-delay="1s">
                                <!-- Post Thumb -->
                                <div class="post-thumb">
                                    <img src="{{ obj.imagen_blog.url }}" alt="">
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-meta d-flex">
                                        <div class="post-author-date-area d-flex">
                                            <!-- Post Author -->
                                            <div class="post-author">
                                                <a href="#">{{ obj.fecha_blog }}</a>
                                            </div>
                                            <!-- Post Date -->
                                            <div class="post-date">
                                                <a href="#">{{ obj.hora_blog }}</a>
                                            </div>
                                        </div>
                                        <!-- Post Comment & Share Area -->
                                        <div class="post-comment-share-area d-flex">
                                            <!-- Post Favourite -->
                                            <div class="post-favourite">
                                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> 10</a>
                                            </div>
                                            <!-- Post Comments -->
                                            <div class="post-comments">
                                                <a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 12</a>
                                            </div>
                                            <!-- Post Share -->
                                            <div class="post-share">
                                                <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{% url 'blogapp:blog_detail' slug=obj.slug %}">
                                        <h4 class="post-headline">{{ obj.titulo }}</h4>
                                    </a>
                                    <p>{{ obj.contenido|truncatechars:160 }}</p>
                                    <a href="{% url 'blogapp:blog_detail' slug=obj.slug %}" class="read-more">Continuar Leyendo</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

        </section>

{% endblock %}

