{% load static %}

<style>
.btn-reserva22 {
font-family: 'SF Pro Display';
font-size: 16px;
font-weight: 400;
color: #fff;
border-radius: 6px;
border: 1px solid #fff;
line-height: 18px;
margin-right: auto;
margin-left: auto;
height: 40px;
width: 180px;
text-align: center;
padding-top: 10px;
padding-bottom: 8px;
background: #28a745;
}

.btn-reserva22:hover {
font-family: 'SF Pro Display';
font-size: 16px;
font-weight: 400;
color: #fff;
border-radius: 6px;
border: 1px solid #e8163f;
line-height: 2px;
margin-right: auto;
margin-left: auto;
height: 40px;
width: 180px;
text-align: center;
padding-top: 10px;
padding-bottom: 8px;
background: #e8163f;
}
.subcribirme-box{
background:#ff8d00;
padding-bottom: 40px;
display: inline-block;
background: url("../static/img/img/wallpaper-sus4.svg");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.box-suscribete-titulo{
text-align: center;
vertical-align: middle;
margin: 0 auto;
justify-content: center;
padding-top: 30px;
}


.subcrib-texto{
color: #000;
font-size: 12px;
font-weight: 400;
font-style: normal;
letter-spacing:0.1em;

}

.unete-texto{
color: #000;
font-size: 12px;
font-weight: 400;
font-style: normal;
letter-spacing:0.1em;
text-align: center;
padding-top:8px;
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@media (min-width: 319px) and (max-width:373px){

.subcrib-texto{
color: #000;
font-size: 10px;
font-weight: 400;
font-style: normal;
letter-spacing:0.1em;

}

.unete-texto{
color: #000;
font-size: 10px;
font-weight: 400;
font-style: normal;
letter-spacing:0.1em;
text-align: center;
padding-top:8px;
}

.boton-suscrib{
padding-left: 12px;
padding-right:12px;
}
.subcribirme-box{
background:#ff8d00;
padding-bottom: 10px;
display: inline-block;

background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.box-suscribete-titulo{
text-align: center;
vertical-align: middle;
margin: 0 auto;
justify-content: center;
padding-top: 14px;
}

}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media (min-width:374px) and (max-width: 412px) {
.subcrib-texto{
color: #000;
font-size: 10px;
font-weight: 400;
font-style: normal;
letter-spacing:0.1em;

}

.unete-texto{
color: #000;
font-size: 10px;
font-weight: 400;
font-style: normal;
letter-spacing:0.1em;
text-align: center;
padding-top:8px;
}

.boton-suscrib{
padding-left: 12px;
padding-right:12px;
}
.subcribirme-box{
background:#ff8d00;
padding-bottom: 10px;
display: inline-block;

background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.box-suscribete-titulo{
text-align: center;
vertical-align: middle;
margin: 0 auto;
justify-content: center;
padding-top: 14px;
}
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media (min-width: 413px) and (max-width: 767px){
.subcrib-texto{
color: #000;
font-size: 12px;
font-weight: 400;
font-style: normal;
letter-spacing:0.1em;

}

.unete-texto{
color: #000;
font-size: 12px;
font-weight: 400;
font-style: normal;
letter-spacing:0.1em;
text-align: center;
padding-top:8px;
}

.boton-suscrib{
padding-left: 12px;
padding-right:12px;
}
.subcribirme-box{
background:#ff8d00;
padding-bottom: 10px;
display: inline-block;

background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.box-suscribete-titulo{
text-align: center;
vertical-align: middle;
margin: 0 auto;
justify-content: center;
padding-top: 14px;
}
}
/* ----------- iPad 1, 2, Mini and Air ----------- */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
@media (min-width: 768px) and (max-width: 992px) {
    .subcrib-texto{
color: #000;
font-size: 12px;
font-weight: 400;
font-style: normal;
letter-spacing:0.1em;

}

.unete-texto{
color: #000;
font-size: 12px;
font-weight: 400;
font-style: normal;
letter-spacing:0.1em;
text-align: center;
padding-top:8px;
}

.boton-suscrib{
padding-left: 12px;
padding-right:12px;
}
.subcribirme-box{
background:#ff8d00;
padding-bottom: 10px;
display: inline-block;

background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.box-suscribete-titulo{
text-align: center;
vertical-align: middle;
margin: 0 auto;
justify-content: center;
padding-top: 14px;
}
}

</style>
{% load crispy_forms_tags %}
<div class="container-fluid subcribirme-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 box-suscribete-titulo">
                <img class=" logo-murtado pb-1 reveal-img-principal" src={% static 'img/logo/murtao-logo4-4.svg' %}>
                <h6 class="header-evento reveal-titulo">Suscríbete</h6>
                <h6 class="subcrib-texto reveal-descripcion">Sé parte de nuestra historia</h6>
                <a class="btn btn-reserva22 " href="suscripcion/"> <span class="fa fa-paper-plane-o"></span></a>
            </div>
            <div class="col-md-3 col-lg-4 col-12">
            </div>
            {% if suscripcion.is_valid == False %}
            <div class="col-md-6 col-lg-4 col-12 reveal-textoleft">

              <h6 class="unete-texto">Recibe promociones, descuentos y más</h6>
            </div>

            {% elif suscripcion.is_valid == True %}
                 <!--<script>
                function suscripciones() {
                    window.location = "suscripcion/ingresar/";
                }
                setTimeout("suscripciones()", 1);
                </script>-->
                <h3 class="title center-align">'Mensaje enviado :)'</h3>
            {% else %}
                <script>
                function suscripciones() {
                    window.location = "suscripcion/ingresar/";
                }
                setTimeout("suscripciones()");
                </script>
            {% endif %}
            </div>
            <div class="col-md-3 col-lg-4 col-12 ">
            </div>
        </div>
    </div>
</div>

