{% load staticfiles %}
{% load static %}


<div class="col-md-4">
    <div class="d-flex flex-row border rounded">
        <div class="p-1 ">
            <img src="{% static 'img/menuapp/1.jpg' %}" class="rounded-circle border-0" />
        </div>
        <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
                <h6 class="">Leanne Boulton</h6>
                <p style="font-size: 10px; color: gray" class="">Tiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="">
            <span class="badge badge-warning text-right mb-5">$9.000</span>
            <div class="pt-5">
                <img class="d-flex pt-5" src="{% static 'img/logo/murtao-logo.svg' %}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="d-flex flex-row border rounded">
        <div class="p-1 ">
            <img src="{% static 'img/menuapp/2.jpg' %}" class="rounded-circle border-0" />
        </div>
        <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
                <h6 class="">Leanne Boulton</h6>
                <p style="font-size: 10px; color: gray" class="">Tiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="">
            <span class="badge badge-warning text-right mb-5">$9.000</span>
            <div class="pt-5">
                <img class="d-flex pt-5" src="{% static 'img/logo/murtao-logo.svg' %}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="d-flex flex-row border rounded">
        <div class="p-1 ">
            <img src="{% static 'img/menuapp/3.jpg' %}" class="rounded-circle border-0" />
        </div>
        <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
                <h6 class="">Leanne Boulton</h6>
                <p style="font-size: 10px; color: gray" class="">Tiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="">
            <span class="badge badge-warning text-right mb-5">$9.000</span>
            <div class="pt-5">
                <img class="d-flex pt-5" src="{% static 'img/logo/murtao-logo.svg' %}" alt="">
            </div>
        </div>
    </div>
</div>